* {
    margin: 0;
    padding: 0;
}

main {
    background-color: #252424;
    width: 100vw;
    height: 100%;
    display: flex;
}

.contact_us {
    display: flex;
    height: 110%;
    width: 100%;
    margin: 85px 85px;
    border-radius: 2%;
    align-items: center;
    font-size: xx-large;
    box-shadow: 0px 20px 100px;
}

.contact_us .image {
    width: fit-content;
    align-items: center;
    display: flex;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 50%;
    margin: 35px auto;
}

.image img {
    width: 100%;
    height: 200px;
    border-radius: 50%;
}

.info {
    text-align: center;
    width: 100%;
}

.info h3 {
    color: white;
    font-size: 35px;
}

.logo {
    display: block;
    align-items: center;
    margin: 0 auto;
}

.logo img {
    width: 45px;
    align-items: center;
    background-color: wheat;
    border-radius: 50%;
}

.logo img:hover {
    background-color: red;
    width: 50px;
}

footer {
    margin-top: 0px;
    width: 100vw;
    height: 40vh;
    background-color: #252424;
    display: flex;
    flex-direction: column;
}

.footer_logo img {
    margin-right: 18px;
}

.footer_txt {
    color: white;
    flex-direction: row;
    align-items: center;
    display: flex;
    font-size: medium;
}

/* social media link here */
.Social_Media_Container {
    display: flex;
    margin-left: 40%;
    margin-right: 50%;
    margin-bottom: 20px;
}

.Social_Media_Container img {
    background-color: wheat;
    animation: logo 2s infinite;
    display: flex;
    width: 45px;
    border-radius: 52%;
    margin-right: 10px;
}

@keyframes logo {
    0% {
        box-shadow: 0.1px 0.1px 0.1px 0.1px white;
    }

    50% {
        box-shadow: 1px 1px 1px 1px white;
    }

    100% {
        box-shadow: 1.50px 1.50px 1.50px 1.50px red;
        background-color: red;
    }
}

/* footer home , view , copyright  */
.footer_li {
    display: flex;
    float: right;
    margin-right: 65px;
    margin-top: 12px;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.footer_li ol li {
    display: inline;
    font-family: 'Pacifico', cursive;
    margin-right: 18px;
    color: white;
    font-size: 12px;
}

.footer_li a {
    text-decoration: none;
}

.footer_li ol li:hover {
    color: red;
}

/* ----------------------------------------end---------------------------------------------------- */
@media screen and (max-width: 856px) {
    .contact_us {
        height: fit-content;
        width: 100%;
        margin: 85px 20px;
        margin-top: 205px;
        border-radius: 4%;
        align-items: center;
        font-size: xx-large;
        box-shadow: 4px 15px 95px;
        transform: 2s;
    }

    .contact_us .image {
        width: fit-content;
        align-items: center;
        display: flex;
        margin-bottom: 22px;
    }

    .image img {
        width: auto;
        height: 190px;
        border-radius: 50%;
    }

    .info {
        text-align: center;
        width: 100%;
    }

    .info h3 {
        color: white;
        font-size: 90%;
        margin-bottom: 25px;
    }

    .logo {
        margin-left: 0px;
    }

    .logo img {}

    /* nav done  */
    footer {
        flex-direction: column;
        width: 100vw;
    }

    .footer_logo {
        display: flex;
        justify-content: center;
    }

    .footer_logo img {}

    .footer_txt {
        color: white;
        display: block;
        font-size: small;
    }

    .footer_li {
        margin: 0;
    }

    .footer_li ol li {
        /* font-size: small; */
        font-size: xx-small;
        margin-right: 1px;
    }
}