* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caprasimo', cursive;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Lilita One', cursive;
    font-family: 'Playfair Display', serif;
}

html body {
    width: 100%;
    height: 100%;
}

/* -----------------------------------------------Nav---------------------------------------------- */
/* nav start  */
.nav_Container {
    background-color: #252424;
    width: 100%;
    height: fit-content;
}

/* logo */
.Container_logo img {
    width: 120px;
}

/* logo done */
.Container_li {
    margin: 4% 4%;
}

.Container_li li {
    display: inline;
    padding-left: 25px;
    font-size: 2rem;
}

.Container_li li a {
    color: white;
    text-decoration: none;
}

.Container_li li a:hover {
    color: red;
}

/* ----------------------------------------end---------------------------------------------------- */
/* -------------------------------------------------Main_Container start------------------------------------------- */
/* main start  */
.Main_Container {
    display: grid;
    background-color: #252424;
    width: 100%;
    height: 100%;
    align-items: end;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.Main_Container_text {
    /* margin-top: 12%; */
    margin: 15% 12%;
    width: 90%;
    /* margin-left: 44px; */
}

#Main_Container_text1 {
    color: red;
    font-size: 2.6rem;
}

#Main_Container_text2 {
    color: white;
    font-size: 2.6rem;
}

#Main_Container_text3 {
    color: red;
    font-size: 2.6rem;
}

#Main_Container_text4 {
    color: white;
    font-size: 1.2rem;
}

.Main_Container_img img {
    height: 90%;
    width: 90%;
}

.Main_Container_img {
    /* margin-left:; */
    display: inline;
    /* margin-left: 50%; */
    margin-top: 3px;
    width: 50%;
    height: fit-content;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: auto;
}

.btn_red:hover {
    box-shadow: 1px 2px 3px 4px red;
    border: 2px solid rgb(119, 26, 26);
}

.btn_red {
    display: inline;
    margin-top: 15px;
    margin-left: 12px;
    text-decoration: none;
    border-radius: 12px;
    border: 1px solid red;
    background-color: #252424;
    border-color: red;
    width: 125px;
    font-weight: bolder;
    font-size: medium;
    color: rgb(204, 188, 188);
    height: 50px;
    cursor: pointer;
}

.btn_gray {
    display: inline;
    flex-direction: row;
    border-radius: 12px;
    background-color: #851e83;
    margin-left: 8px;
    width: 125px;
    color: rgb(246, 246, 246);
    height: 50px;
}

.container {
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 90%;
    height: 100%;
    row-gap: 4%;
    column-gap: 4%;
    margin: 5% 5%;
}

.box {
    width: 100%;
    background-color: #fff;
    height: 100%;
    position: relative;
    box-shadow: 0px 0px 70px rgb(203, 196, 196);
    border-radius: 4%;
    /* background-repeat: no-repeat;
        background-size: 100%;
        background-image: url("/docs/Project/image_processing20200428-31155-m6de1v.jpg"); */
}

.box img {
    border-radius: 4%;
    width: 100%;
    height: 18rem;
    display: flex;
}

/* ------------------------------------------------end ----------------------------------------------- */
/* main_social media done  */
/* ------------------------------------------------Footer start*/
footer {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 40vh;
    background-color: #252424;
    justify-content: center;
}

#line {
    color: aqua;
    background-color: red;
    width: 100vw;
}

.footer_txt {
    color: white;
    flex-direction: row;
    align-items: center;
    display: flex;
    font-size: medium;
}

.footer_logo img {
    margin-right: 18px;
}

/* footer home , view , copyright  */
.footer_li {
    display: flex;
    float: right;
    margin-right: 65px;
    margin-top: 12px;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.footer_li ol li {
    display: inline;
    font-family: 'Pacifico', cursive;
    margin-right: 18px;
    color: white;
    font-size: 12px;
}

.footer_li a {
    text-decoration: none;
}

.footer_li ol li:hover {
    color: red;
}

/* end  */
/* Mob_social_media_hide  */
.Social_Media_Container img {
    display: none;
}

/* -----------------------------------------------end------------------------------------------------ */
/* ___________________________________________________Mob & Tablet____________________________________________-
.project {
    margin: 12px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.image_container img {
    width: 31vw;
    height: 200px;
    margin-left: 5px;
}

/* Tablet */




/*






/* _______________________________________________ end _________________________________________ */




@media screen and (max-width: 850px) {
    /* About me and download cv hide  */
/* nav start  */
.nav_Container {
    background-color: #252424;
    align-items: center;
    height: fit-content;
}

.Container_logo {
    align-items: center;
}

.Container_logo img {
    width: 6rem;
    height: 6rem;
    margin-bottom: 8px;
    display: inline;
}

.Container_li {
    display: flex;
    justify-content: right;
    float: right;
    align-items: center;
    margin: 0 auto;
}

.Container_li li {
    font-size: 1rem;
}

/* nav done  */

.Main_Container_text {
    margin: 5% auto;
}

.Main_Container_img img {
    /* I set height for my img  */
    height: 355px;
    width: 400px;
    display: inline;
    align-items: center;
    align-self: center;
    /* width:auto; */
  
}


/* main container text start */


#Main_Container_text1 {
    color: red;
    font-size: 2rem;
}

#Main_Container_text2 {
    font-size: 2rem;
}

#Main_Container_text3 {
    font-size: 2rem;
}

#Main_Container_text4 {
    font-size: 0.9rem;
}


.btn_red {
    display: inline;
    font-size: 0.8rem;
    margin-top: 15px;
    margin-left: 6px;
    border-radius: 12px;
    border: 2px solid red;
    background-color: #252424;
    border-color: red;
    width: 95px;
    color: rgb(204, 188, 188);
    height: 35px;
}



/* nav done  */



/* Main_Container_text done   */


/* social media link here */
.Social_Media_Container {
    display: flex;
    margin-left: 40%;
    margin-right: 50%;
    margin-bottom: 20px;
}

.Social_Media_Container img {
    background-color: wheat;
    animation: logo 2s infinite;
    display: block;
    width: 38px;
    border-radius: 52%;
    margin-right: 10px;
}

@keyframes logo {
    0% {
        box-shadow: 1px 1px 1px 1px white;
    }

    50% {
        box-shadow: 2px 2px 2px 2px white;
    }

    100% {
        box-shadow: 3px 3px 3px 3px white;
    }
}

.Social_Media_Container img:hover {
    background-color: red;
    border-radius: 48%;
    box-shadow: 3px 3px 3px 3px red;
}

/* container  */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 16%;
}

.box {}

.footer_logo {
    display: flex;
    width: 100%;
}

.footer_logo img {
    width: 125px;
}

.footer_txt {
    color: white;
    display: block;
    font-size: small;
}

.footer_li {
    margin: 0;
}

.footer_li ol li {
    /* font-size: small; */
    font-size: xx-small;
    margin-right: 1px;
}

hr {
    color: black;
} 



}



/* Mobile  */
@media screen and (max-width: 676px) {

    /* About me and download cv hide  */
    /* nav start  */
    .nav_Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    /* logo */
    .Container_logo img {
        width: 85px;
    }

    .Container_logo {
        margin: 2rem;
        margin-bottom: 28px;
        height: 0;
    }

    .Container_li {
        display: flex;
        justify-content: center;
        width: 100%;
        height: fit-content;
        align-items: center;
        margin-top: 2rem;
    }

    .Container_li ol li {
        font-size: 10px;
    }

    /* nav done  */

    .Main_Container {
        display: grid;
        background-color: #252424;
        width: 100%;
        height: 100%;
        align-items: end;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

  

    
    .Main_Container_img {
        /* I set height for my img  */
      
        margin: 0 10%;
        height: fit-content;
        background-color: #252424;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
    }

    .Main_Container_img img {
        /* I set height for my img  */
        height: 200px;
        width: 250px;
        display: inline;
        align-items: center;
        align-self: center;
        /* width:auto; */

    }

    /* main container text start */
    .Main_Container_text {
        /* margin: auto auto; */
        grid-row-start: 2;
        grid-column-start: 1;
        margin: 2% 2%;
        width: 93%;
    }

    section {
        width: fit-content;
        height: fit-content;
    }

    #Main_Container_text1 {
        color: red;
        width: fit-content;
        font-size: 1.5rem;
        margin-left: 2%;
        margin-top: 0px;
        display: block;
    }

    #Main_Container_text2 {
        font-size: 2rem;
        display: block;
        width: fit-content;
        margin-left: 1.7%;
    }

    #Main_Container_text3 {
        font-size: 1.4rem;
        margin-left: 2%;
        display: block;
        width: fit-content;
    }

    #Main_Container_text4 {
        font-size: 0.8rem;
        
        display: inline;
        width: fit-content;
    }

    .container {
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    footer {
        display: flex;
        margin-top: 80%;
    }
}