*{
    margin: 0;
    padding: 0;
}



.nav_Container{
    display: flex;
    background-color: #252424;
    width: 100vw;
    height: fit-content;
}
  

/* logo */

.Container_logo img{
    width: 120px;
    display: inline;
    margin-top: 4px;
    
}

/* logo done */


.Container_li{
   
   margin-left: auto;
   margin-top: 25px;
   
   margin-right:150px;
  
   
}

.Container_li li{
    display: inline;
    padding-left: 25px;
    font-size: x-large;
    
    
    
   
   
}

.Container_li li a{
    color: white;
    text-decoration: none;
    
    
    
   
   
}

.container{
    display: grid;
    grid-row: 3;
    width: 100vw;
    height: 100vh;
    background-color:#252424;
}

.card{
    flex:auto;
    box-shadow: 3px 3px 3px 3px rgb(255, 8, 8);
    width:min-content;
    height: 360px;
    display: flex;
    margin: 12px;
    border-radius: 12%;
}

